// Colors
$color-main: #53555d;
$color-bright: #4d69fa;
$color-bright-alt: #ffba00;
$background-color-main: #3b4163;
$background-color-light: #f5f5f5;
$background-color-dark: #50525a;

// Sizes
$border-radius-main: 5px;
$border-radius-secondary: 24px;
$box-shadow-main: 0px 2px 47px 0px rgba(0, 0, 0, 0.26);
